* {margin: 0; padding: 0; border: 0;}
a {text-decoration: none;}
ul {list-style: none;}
body, html {height: 100%; font-family: 'Noto Sans KR', sans-serif;}
/* color: #ADD8FF, #80B9EE, #559CE4, #0078D4, #235A9F, #174276, #092642 */



button[type=button] {
    background-color: transparent;
}
.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: cadetblue;
}
.bgimg {
    width: 100%;
    height: 100%;
}
.main_img {
    width: 51px;
    height: 51px;
    object-fit: contain;
    margin-bottom: 3px;
}
.short_img {
    width: 10px;
    height: 10px;
    position: absolute;
    transform: translate(-15px, 5px);
    border: 1px solid grey;
}
.Wallpapers_icon {
    width: 95px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 0;
    box-sizing: border-box;
}
.Wallpapers_icon figure {
    width: 100%;
    height: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Wallpapers_icon_wrap {
    width: 95px;
    position: absolute;
    top: 0;
}
.Wallpapers_icon_wrap:nth-of-type(2) {
    left: 100px;
}
.Wallpapers_icon_wrap:nth-of-type(3) {
    left: 200px;
}
.Wallpapers_icon_wrap figcaption {
    font-size: 13px;
    color: #fff;
    font-weight: 100;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.netflix_btn a {
    cursor: auto;
}
.left_btn {
    width: 48px;
    height: 49px;
    background-color: transparent;
    font-size: 21px;
}
.lnb_hover {
    transition: .2s;
}
.lnb_hover:hover {
    background-color: rgba(230,230,230);
}
.left_btn img {
    width: 35%;
    background-color: transparent;
}
.lnb {
    width: 100%;
    height: 50px;
    background-color: rgba(230,230,230,.8);
    backdrop-filter: blur(1px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: end;
    font-size: 0;
}
.search_btn {
    transform: rotatey(180deg);
}
.right_lnb {
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: start;
}
.timeAndDate {
    width: 73px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    padding: 5px 0;
    box-sizing: border-box;
    cursor: context-menu;
}
.notice_btn {
    width: 41px;
    height: 50px;
    background-color: transparent;
    font-size: 21px;
    margin-right: 12px;
    position: relative;
}
.right_btn {
    width: 25px;
    height: 49px;
    background-color: transparent;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_option {
    width: 30px;
    height: 50px;
    font-size: 15px;
    transition: .5s;
}
#low-battery {
    width: 20px;
    height: 20px;
}
#wifi {
    transform: rotate(-50deg);
}
#volume {
    width: 20px;
    height: 20px;
}
#chat {
    width: 28px;
    height: 28px;
}
.notice_center {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(0,0,0,.1);
    border: 1px solid #555;
    backdrop-filter: blur(1px);
    right: 5px;
    bottom: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.notice_center p {
    filter: none;
}
.right_icons {
    height: 50px;
    margin-right: 10px;
    display: flex;
}


/* maintain */
.m_login_bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_wrap {
    width: 450px;
    height: 500px;
    border: 1px solid #aaa;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
}
.login_title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.user_input {
    width: 100%;
    height: 50px;
}
.login_input_label {
    width: 20%;
    height: 30px;
    display: inline-block;
}
.user_input input {
    width: 78%;
    height: 35px;
    outline: 1px solid #aaa;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}
.login_btn {
    width: 80px;
    height: 40px;
    position: absolute;
    right: 40px;
    bottom: 70px;
    border-radius: 2px;
    background-color: #0078D4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}


/* more option onclick */
.more_wrap {
    max-width: 80px;
    background-color: rgba(230,230,230,.8);
    backdrop-filter: blur(1px);
    position: absolute;
    left: 0;
    bottom: 49px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border: 1px solid #aaa;
    display: flex;
}
.more_icon {
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more_icon img {
    width: 40%;
    height: 40%;
}





/* 새 창 띄우기 */
.page_modal {
    width: 70%;
    height: 70%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.modal_header {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.header_page {
    width: 100%;
    height: 50%;
    background-color: #0078D4;
}
.open_page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.fa-plus {
    color: #fff;
    margin-left: 20px;
}
.open_page ul {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.open_page ul li {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}
.open_page ul li:not(.active_page) a {
    width: 100%;
    height: 95%;
    display: block;
    border-right: 1px solid #fff;
    display: flex;
    align-items: center;
    cursor: auto;
}
/* .open_page ul li:not(.active_page)::after {
    content: "｜";
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: lighter;
    font-size: 20px;
} */
.active_page {
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}
.exit_page {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    font-size: 14px;
}
.active_page .exit_page {
    color: #999;
}